/** { border: 1px solid black; }*/

body {
  font: 15px/1.5 Ariel, Helvetica, sans-serif;
  background: #9A4198;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#9A4198, #D67DB3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9A4198, #D67DB3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9A4198, #D67DB3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#9A4198, #D67DB3); /* Standard syntax */
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul {
	margin: 0 auto;
	padding: 0;
}

button:focus {
  outline: none;
}


/*Header*/
header#logged {
	background: #65BBC6;/* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #65BBC6, #147871); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #65BBC6, #147871); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #65BBC6, #147871); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #65BBC6, #147871); /* Standard syntax */
	color: #ffffff;
	padding-top: 10px;
  padding-bottom: 5px;
	min-height: 70px;
	border-bottom: #FFD66C 7px solid;
}

header#logged a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}

header#logged li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
  line-height:50px;
}


header#logged #branding {
	float: left;
}

header#logged #branding h1 {
	margin: 0;
}

header#logged nav {
	float: right;
	margin-top: 10px;
}

header#logged .highlight, header .current a {
	color: 	#e8491d;
	font-weight: bold;
}

header#logged a:hover {
	border-bottom: #FFD66C 2px solid;
}


/*Menu**/
header#menu {
	background: #6A2D00;
}

.whitechoc {
  position: relative;
  top: -2px;
  left: -2px;
}

/* Style the tab */
div.tab {
  margin-top: 7px;
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    transition: 0.3s;
    width: 33%;
    color: #FFD66C;
    border: none;
  	text-decoration: none;
  	font-size: 30px;
    font-family: 'Galada', cursive;
    background: #6A2D00;
}

div.tab button{
  height: 51.5px;
}

#branding .logo {
  padding: 2px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    border-bottom: #FFD66C 3px solid;
    height: 51.5px;
}

/* Create an active/current tablink class */
div.tab button.active {
    border-bottom: #FFD66C 3px solid;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}




/*Main Area**/
section.main-content {
  max-height: inherit;
}

#stockTable{
    width: 30%;
}
#CustomerTable{
    width: 45%;
}



/*Tables**/
table {
    white-space: nowrap;
    display: block;
    font: 15px/1.5 Ariel, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #FFD66C;
    text-align: left;
    padding: 10px 30px 10px 30px;
}
.TableHead {
    background-color:#147871;
}

tr:nth-child(even) {
    background-color:#9A4198;
}


th{
  background-color: #65BBC6;
}
#updateButton{
  display: block;
  margin: auto;
}
input {
color: #ffffff;
text-align: right;
background: transparent;
border: none;
}
#updateButtonDiv{
  padding-top: 20px;
  padding-bottom: 20px;
}

.AppDec{
  padding: 10px;
}

#StaffTable{
  float:right;
  margin-right: 270px;
}

#createUser{
  float:left;
  border: solid #FFD66C;
  width: 200px;
  border-width:medium;
  margin-left: 270px;
  padding: 25px;
  /*align:left;*/
}
#createBlurb{
  display: block;
  color:white;
  text-align:center
  margin:none;
}
.createUserLabel{
  margin: auto;
  color:white;
  text-align:center;
  display: block;
}
#createStaffButton{

  display: block;
  margin: auto;
  margin-top: 10px;
}
.createForm{
  display: block;

}

/*Login page stuff**/
.title {
  color: #ffffff;
  margin:auto;
  text-align: center;
}

.logcontainer {
    color: #ffffff;
    padding: 16px;
    display:block;
    margin:auto;
}

.loginForm{
  text-align: center;
  padding: 10px;
}

input.notTrans{
  display:block;
  margin:auto;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border: 2px;
